*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
#nav-content{
    background-color: #000000;

}

#ul-content{
    list-style: none;
    display: flex;
    width: 30%;
}
#li-content{
    padding: 40px;
}
#li-content a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.img-logo{
    width: 7%;
    float: left;
    margin-top: 0.5%;
}
.img-carrinho{
    width: 90px;
    float: right;
    margin-left: 200%;
}